* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #eafff2;
    min-height: 100vh;
}

/* BACK */
.back-btn {
    position: absolute;
    top: 20px;
    left: 30px;
    text-decoration: none;
    color: #0aaa3c;
    font-weight: bold;
    font-size: 16px;
}

/* CONTAINER */
.auth-container {
    width: 380px;
    background: white;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    margin: 120px auto;
    text-align: center;
}

.auth-container h1 {
    margin-bottom: 20px;
}

/* INPUTS */
label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin: 15px 0 5px;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

/* BUTTONS */
.btn {
    display: block;
    text-decoration: none;
    color: white;
    padding: 14px;
    border-radius: 12px;
    margin-top: 15px;
    font-weight: bold;
}

/* USER */
.user-btn {
    background: #0aaa3c;
}

.user-btn:hover {
    background: #088a31;
}

/* OWNER */
.owner-btn {
   background: #0aaa3c;
}

.owner-btn:hover {
   background: #088a31;
}

/* ADMIN */
.admin-btn {
    background: #0aaa3c;
}

.admin-btn:hover {
    background: #088a31;
}

/* DEMO */
.demo {
    background: #f1f6ff;
    margin-top: 20px;
    padding: 15px;
    border-radius: 12px;
    font-size: 14px;
    text-align: left;
}
