* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #eafff2;
    min-height: 100vh;
}

/* BACK */
.back-btn {
    position: absolute;
    top: 20px;
    left: 30px;
    color: #0aaa3c;
    font-weight: bold;
    text-decoration: none;
}

/* CARD */
.auth-container {
    width: 420px;
    background: #fff;
    margin: 80px auto;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.auth-container h1 {
    text-align: center;
    margin-bottom: 25px;
}

/* FORM */
label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* ACCOUNT TYPE */
.section-title {
    margin-top: 25px;
}

.account-types {
    margin-top: 10px;
}

.type-card {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 12px;
    cursor: pointer;
}

.type-card input {
    width: auto;
}

.type-card:hover {
    border-color: #0aaa3c;
    background: #f2fff7;
}

.type-card p {
    font-size: 14px;
    color: #555;
}

/* BUTTON */
.main-btn {
    width: 100%;
    margin-top: 25px;
    padding: 14px;
    background: #0aaa3c;
    color: white;
    border: none;
    border-radius: 14px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.main-btn:hover {
    background: #088a31;
}
