<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin - Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_users.css') }}">
    <link rel="stylesheet" href="../../static/admin_users.css">
</head>
<body>

<header class="navbar">
    <div class="logo">
        PitchBook <span>Admin</span>
    </div>

    <nav>
        <a href="admin_dashboard.html">Dashboard</a>
        <a href="admin_users.html" class="active">Users</a>
        <a href="admin_pitches.html">Pitches</a>
        <a href="admin_bookings.html">Bookings</a>
    </nav>

    <div class="admin-info">
        <strong>Admin</strong>
        <a href="../auth/login.html" class="logout">Logout</a>
    </div>
</header>

<main class="container">

    <h1 class="page-title">Users Management</h1>
    <p class="page-desc">View and manage system users</p>

    <div class="table-wrapper">
        <table class="admin-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th class="center">Action</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Ahmed Ali</td>
                    <td>ahmed@email.com</td>
                    <td>User</td>
                    <td><span class="badge success">Active</span></td>
                    <td class="center"><button class="btn danger">Block</button></td>
                </tr>

                <tr>
                    <td>Mohamed Samy</td>
                    <td>mohamed@email.com</td>
                    <td>Pitch Owner</td>
                    <td><span class="badge success">Active</span></td>
                    <td class="center"><button class="btn danger">Block</button></td>
                </tr>

                <tr>
                    <td>Omar Hassan</td>
                    <td>omar@email.com</td>
                    <td>User</td>
                    <td><span class="badge danger">Blocked</span></td>
                    <td class="center"><button class="btn">Unblock</button></td>
                </tr>

                <tr>
                    <td>Sara Ahmed</td>
                    <td>sara@email.com</td>
                    <td>Admin</td>
                    <td><span class="badge success">Active</span></td>
                    <td class="center"><button class="btn" disabled>---</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</main>

</body>
</html>
