<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Pitch</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='owner_edit_pitch.css') }}">
    <link rel="stylesheet" href="../../static/owner_edit_pitch.css">
</head>
<body>

<header class="navbar">
    <div class="logo">PitchBook</div>
    <a href="owner_dashboard.html" class="back">← Back to Dashboard</a>
</header>

<main class="container">

    <h1>Edit Pitch</h1>

    <form class="form" action="owner_dashboard.html" method="get">

        <label>Pitch Name</label>
        <input type="text" value="Riverside Sports Complex" required>

        <label>Location</label>
        <input type="text" value="Manchester" required>

        <label>Price per Hour (£)</label>
        <input type="number" value="50" required>

        <label>Pitch Size</label>
        <select required>
            <option selected>11-a-side</option>
            <option>7-a-side</option>
            <option>5-a-side</option>
        </select>

        <button type="submit">Update Pitch</button>
    </form>

</main>

</body>
</html>
